* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    overflow-x: hidden;
    text-decoration: none;


    ::-webkit-scrollbar-track {
        background-color: #000000;
    }

    ::-webkit-scrollbar {
        width: 6px;
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, #1407FC 0%, #9B4EE1 100%);
    }

    cursor: url(image/NaussMin.cur), default;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .subir {
        position: fixed;
        bottom: 10px;
        right: 50px;
    }



    header {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        z-index: 2;
        
        //Refazer Navbar
    }

    section {
        width: 100vw;
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .LogoNauss {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 100%;

            img {
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 4;
            }

            .bolha1 {
                z-index: 3;
                width: 480px;
                height: 480px;
                position: absolute;
                background: radial-gradient(50% 50% at 50% 50%, #0500FF 0%, #0500FF 34.9%, #4C0494 100%);
                filter: blur(76.5px);
                border-radius: 50%;
            }
        }
    }



    .studioCriativo {
        width: 100vw;
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: center;

        .containerStudio {
            width: 1020px;
            height: 350.24px;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            row-gap: 60px;

            .imgStudio {
                width: 35vw;
            }

            p {
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 44px;
            }
        }
    }

    .Projetos {
        width: 95vw;

        .projetosMaiores {
            margin-bottom: 76px;
            a {       
                text-decoration: none; 
                color: #000000;   
                     
                .containerImagem {
                    img {
                        cursor: url(image/NaussClick.cur), pointer;
                        width: 100%;
                        height: 65vh;
                        object-fit: cover;
                    }
                }

                p {
                    font-family: 'Darker Grotesque';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 42px;
                    line-height: 57px;
                    
                }
            }
        }

        .projetosMenores {
            margin-bottom: 76px;
            display: flex;
            flex-direction: row;
            column-gap: 26px;
            a {           
                text-decoration: none; 
                color: #000000;      
                .containerImagemEsquerda {
                    img {
                        cursor: url(image/NaussClick.cur), pointer;
                        width: 100%;
                        height: 65vh;
                        object-fit: cover;
                    }
                }

                p {
                    font-family: 'Darker Grotesque';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 42px;
                    line-height: 57px;
                    text-decoration: none;
                    
                }
            }
        }
    }

    footer {
        width: 100vw;
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 106px;

        .linha {
            width: 95vw;
            border-top: solid #000000 2px;
        }

        .containerFooter {
            display: flex;
            flex-direction: row;
            column-gap: 118px;
            align-items: flex-start;



            .logoFooter{
                margin-top: 25px;
            }

            .containerTextos {
                display: flex;
                flex-direction: column;
                row-gap: 86px;

                p {
                    width: 50vw;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 52px;
                    line-height: 71px;
                    color: #000000;
                }

                .linksFooter {
                    display: flex;
                    flex-direction: row;
                    column-gap: 64px;
                    a {
                        font-family: 'Darker Grotesque';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 52px;
                        line-height: 71px;
                        color: #000000;
                        border-bottom: solid #000000 ;
                        cursor: url(image/NaussClick.cur), pointer;
                    }
                }
            }
        }
    }

}

// LAPTOP L
@media (max-width: 1440px) {
    body {
    
        section {
           .LogoNauss {
              img {
                   width: 50vw;
                }
            }
        }



        footer {
            height: 65vh;

    
            .containerFooter {
                .logoFooter{
                    margin-top: 25px;
                    width: 25vw;
                }
    
                .containerTextos {   
                    p {
                        font-size: 36px;
                        line-height: 48px;

                    }
    
                    .linksFooter {
                        a {
                            font-size: 32px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
    }
}

// LAPTOP
@media (max-width: 1024px) {
    body {
        
        section {
           .LogoNauss {
              img {
                   width: 45vw;
                }
                .bolha1 {
                    width: 310px;
                    height: 310px;
                    filter: blur(56.5px);
                }
            }
        }

        .studioCriativo {
            width: 80vw;
            height: 75vh;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .containerStudio {
                width: 1020px;
                height: 350.24px;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                row-gap: 60px;
    
                .imgStudio {
                    width: 40vw;
                }
    
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 32px;
                    line-height: 44px;
                }
            }
        }

        footer {
            height: 65vh;

    
            .containerFooter {
                .logoFooter{
                    margin-top: 25px;
                    width: 25vw;
                }
    
                .containerTextos {   
                    p {
                        font-size: 32px;
                        line-height: 42px;

                    }
    
                    .linksFooter {
                        a {
                            font-size: 32px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
    }
}

// TABLET
@media (max-width: 768px) {
    body {
        
        section {
           .LogoNauss {
              img {
                   width: 45vw;
                }
                .bolha1 {
                    width: 310px;
                    height: 310px;
                }
            }
        }

        .studioCriativo {
            .containerStudio {
                .imgStudio {
                    width: 65vw;
                }
    
                p {
                    font-size: 26px;
                    line-height: 36px;
                    text-align: justify;
                }
            }
        }

        .Projetos {
            width: 95vw;
    
            .projetosMaiores {
                margin-bottom: 76px;
                a {                
                    .containerImagem {
                        img {
                            cursor: url(image/NaussClick.cur), pointer;
                            width: 100%;
                            height: 65vh;
                            object-fit: cover;
                        }
                    }
    
                    p {
                        font-family: 'Darker Grotesque';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 57px;
                        text-decoration: none;
                        
                    }
                }
            }
            .projetosMenores {
                margin-bottom: 76px;
                display: flex;
                flex-direction: column;
                row-gap: 76px;
                a {                
                    .containerImagemEsquerda {
                        img {
                            cursor: url(image/NaussClick.cur), pointer;
                            width: 100%;
                            height: 65vh;
                            object-fit: cover;
                        }
                    }
    
                    p {
                        font-family: 'Darker Grotesque';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 57px;
                        text-decoration: none;
                        
                    }
                }
            }
        }

        footer {
            height: 65vh;
            
            .containerFooter {
                .logoFooter{
                    margin-top: 25px;
                    width: 25vw;
                }
    
                .containerTextos {   
                    p {
                        font-size: 32px;
                        line-height: 42px;

                    }
    
                    .linksFooter {
                        a {
                            font-size: 32px;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
    }
}

// MOBILE L
@media (max-width: 460px) {
    body {
        
        section {
           .LogoNauss {
              img {
                   width: 70vw;
                }
                .bolha1 {
                    width: 1px;
                    height: 1px;
                    // filter: blur(56.5px);
                }
            }
        }

        .studioCriativo {
            width: 80vw;
            height: 75vh;
            display: flex;
            align-items: center;
            justify-content: center;
    
            .containerStudio {
                width: 95vw;
                height: auto;
                row-gap: 25px;
      
    
                .imgStudio {
                    width: 75vw;
                }
    
                p {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 24px;
                    text-align: left;
                }
            }
        }

        .Projetos {
            width: 95vw;
    
            .projetosMaiores {
                margin-bottom: 76px;
                a {                
                    .containerImagem {
                        img {
                            cursor: url(image/NaussClick.cur), pointer;
                            width: 100%;
                            height: 52vh;
                            object-fit: cover;
                        }
                    }
    
                    p {
                        font-family: 'Darker Grotesque';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 57px;
                        text-decoration: none;
                        
                    }
                }
            }
            .projetosMenores {
                margin-bottom: 76px;
                display: flex;
                flex-direction: column;
                row-gap: 76px;
                a {                
                    .containerImagemEsquerda {
                        img {
                            cursor: url(image/NaussClick.cur), pointer;
                            width: 100%;
                            height: 52vh;
                            object-fit: cover;
                        }
                    }
    
                    p {
                        font-family: 'Darker Grotesque';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 57px;
                        text-decoration: none;
                        
                    }
                }
            }
        }

        footer {
            height: 75vh;

            .containerFooter {
                flex-direction: column;
                width: 75vw;

                .logoFooter{
                    margin-top: 25px;
                    width: 35vw;
                }
    
                .containerTextos {   
                    p {
                        font-size: 1.625rem;
                        line-height: 42px;
                        width: auto;
                        margin-top: 25px;

                    }
    
                    .linksFooter {
                        a {
                            font-size: 1.625rem;
                            line-height: 42px;
                        }
                    }
                }
            }
        }
    }
}